.scan-header {
    background-color: transparent;
    position: absolute;
    top: 0;
    display: flex;
    width: 90%;
    align-items: center;
    color: #fff;
    padding: 5px 5%;
    z-index: 10;
}

.scan-header h3 {
    margin-left: 10px;
}

.add-transition {
    transition: 0.3s ease;
}

/* Style the QR scanner container */
#qr-reader {
    margin: 80px auto 20px auto;
    max-width: 500px;
    width: 90%;
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #000;
}

/* Optional: Style the camera stream */
#qr-reader__dashboard_section_csr video {
    width: 100% !important;
    height: auto !important;
    border-radius: 6px;
}